{% extends "base.html" %}
{% block content %}
<div class="record-form">
    <h2>👤 Добавить сотрудника</h2>
    <form method="post">
        <div class="form-group">
            <label for="last_name">Фамилия:</label>
            <input type="text" id="last_name" name="last_name" required>
        </div>

        <div class="form-group">
            <label for="first_name">Имя:</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>

        <div class="form-group">
            <label for="middle_name">Отчество:</label>
            <input type="text" id="middle_name" name="middle_name" required>
        </div>

        <div class="form-group">
            <label for="birth_date">Дата рождения:</label>
            <input type="date" id="birth_date" name="birth_date" required>
        </div>

        <div class="form-group">
            <label for="contact">Контакт:</label>
            <input type="text" id="contact" name="contact">
        </div>

        <div class="text-center">
            <button type="submit" class="big-button">➕ Добавить</button>
        </div>
        <div class="text-center">
            <a href="/employees" class="big-button">← Назад</a>
        </div>

        {% if error %}
            <p class="error-text">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
