{% extends "base.html" %}

{% block content %}
<div class="record-form">
    <h2>Список пользователей</h2>
    <p>Всего пользователей: {{ total_count }}</p>

    <ul>
        {% for u in users %}
        <li class="user-list-item">
            <strong>ID:</strong> {{ u.id }} |
            <strong>Email:</strong> {{ u.email }} |
            <strong>Верификация:</strong> {{ u.verification_status }}<br>

            <!-- Ссылка на детальную страницу этого пользователя -->
            <a href="/admin/user/{{ u.id }}" class="link-blue">
                Подробнее
            </a>
             {% if current_user.role == "superadmin" %}
                {% if u.is_blocked %}
                    <!-- Если пользователь заблокирован -->
                    <form method="post" action="/superadmin/unblock/{{ u.id }}" style="display:inline;">
                        <button type="submit" class="big-button">Разблокировать</button>
                    </form>
                {% else %}
                    <!-- Если пользователь НЕ заблокирован -->
                    <form method="post" action="/superadmin/block/{{ u.id }}" style="display:inline;">
                        <button type="submit" class="big-button danger">Заблокировать</button>
                    </form>
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% if has_more %}
        <!-- Вместо формы -->
        <button
            id="load-more-btn"
            class="big-button"
            data-skip="{{ skip }}"
            data-limit="{{ limit }}"
        >
            Загрузить ещё
        </button>
    {% else %}
        <p>Все пользователи загружены.</p>
    {% endif %}
</div>
<script src="/static/js/load_users.js"></script>
{% endblock %}
