{% extends "base.html" %}
{% block content %}
<div class="record-form">

    <h2 class="text-center">Вход в аккаунт</h2>

    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" required>
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>
        </div>

        {% if error %}
            <p class="text-center text-red">
                <em>{{ error }}</em>
            </p>
        {% endif %}

        <div class="g-recaptcha" data-sitekey="6LcfHEkrAAAAABNSkoeEAaeJkyHER7niWDkn0jgL"></div>
        <div class="text-center">
            <button type="submit" class="big-button">Войти</button>
        </div>
    </form>

    <!-- Ссылка для восстановления пароля -->
    <div class="text-center mt-1rem">
        <a href="/forgot-password" class="link-underline">Забыли пароль?</a>
    </div>

    <div class="text-center mt-2rem">
        <p class="mb-0_75rem">Впервые у нас?</p>
        <a href="/register" class="big-button text-white">Зарегистрироваться</a>
    </div>
</div>
{% endblock %}
